<?xml version="1.0" encoding="UTF-8"?>
<!-- [START cloudrun_manual_logging_logback] -->
<!-- [START run_manual_logging_logback] -->
<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Ignore default logging fields -->
            <fieldNames>
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
                <logger>[ignore]</logger>
                <thread>[ignore]</thread>
                <level>[ignore]</level>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %logger{36} -%kvp- %msg%n</pattern>
<!--            %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n-->
        </encoder>
    </appender>
    <root level="INFO">
<!--        severity: "INFO"-->
        <appender-ref ref="jsonConsoleAppender"/>
    </root>
</configuration>